[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Dependencies/WavLib"]
	path = Dependencies/WavLib
	url = https://github.com/Mumsfilibaba/WavLib
[submodule "Dependencies/r8brain-src"]
	path = Dependencies/r8brain-src
	url = https://github.com/avaneev/r8brain-free-src.git
[submodule "Dependencies/Butterworth-Filter-Design"]
	path = Dependencies/Butterworth-Filter-Design
	url = https://github.com/ruohoruotsi/Butterworth-Filter-Design.git
